body{
    background-color: black;
    color: white;
    align-content: center;
}
#Chap1{
    text-align: center;
}
.step{
    background-color: white;
    color: black;
    
    padding-top:10px ;
    padding-bottom: 10px;
    
}
